/* IMPORT CSS FROM GITHUB */
@import url("https://cdn.rawgit.com/0mniscient/Discord-Themes/master/css/quiet.css");
@import url("https://cdn.rawgit.com/0mniscient/Discord-Themes/master/css/Discord%20Reborn.css");
/*
----------------------------------------------------------------------
|                         CREDITS TO:                                |
|  Omniscient#0002, Izy#5368, cube_guy#2026, Dingus#6977, Pout#0350  |
----------------------------------------------------------------------
*/
/* Change Main & Hover Color */

:root { 
    --main-color: #5d7a56 !important;
    --hover-color: #4b6345 !important;
 }

/* Replace Reborn Wallpaper */

#app-mount .app, #app-mount .callout-backdrop, #app-mount .userPopout-4pfA0d::before {
    background-image: url(https://i.imgur.com/8Y5x9iq.jpg) !important;
}

[class*="avatar-"], .status, [class*="avatarStatus"], .image-EVRGPw{border-radius: 50% !important;}
.guilds [class*="avatar-"]{border-radius: 0 !important;}

/* Circular Avatars */

[class*="avatar-"], .status, [class*="avatarStatus"], .image-EVRGPw{border-radius: 50% !important;}
.guilds [class*="avatar-"]{border-radius: 0 !important;}
.mask-2vyqAW{border-radius: 50% !important;}
.card-3cnrFh{border-radius:50%!important;}

/* Circular Avatars Hover Fix */

.mask-2vyqAW{border-radius: 50% !important;}

/* Remove Bottom Right Box */

.channel-members::after, #friends .friends-table .friends-table-body::after{display:none !important;}
[class*="scroller-"].channel-members { height: 100%!important;}

/* Make Channel Categories Match Role Categories */

.nameCollapsed-3_ChMu, .nameDefault-Lnjrwm,
.nameHovered-1YFSWq, .nameHoveredCollapsed-2c-EHI,
.nameMuted-1n0LSj, .nameUnread-WKlSv-
{
    color: var(--main-color) !important;
    background-image: linear-gradient(90deg, transparent, transparent), linear-gradient(90deg, transparent, var(--main-color), transparent);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px;
    opacity: 0.9;
    transform: translateY(-8px);
}
.nameHovered-1YFSWq {
    opacity: 1;
    transform: translateY(-8px);
}
.nameCollapsed-3_ChMu {
    opacity: 0.6;
    transform: translateY(-1px);
}
.nameHoveredCollapsed-2c-EHI {
    opacity: 0.8;
    transform: translateY(-1px);
}

[class*=container-] .containerDefault-7RImuF, .containerDragAfter-3rB7mB, .containerDragBefore-12YyA9, [class*=container-] .containerUserOver-2YhVL6 {
    margin-top: 3px;
}

/* Categories Arrow Colored */

.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm{
    color: var(--main-color);
}
.iconHoveredCollapsed-jNYgOD, .iconHovered-3PRzOR, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm{
    color: var(--hover-color);
}

/* Color Muted Icon Arrow */

.iconMuted-Hb4ttQ {
    color: var(--main-color) !important;
    opacity: 0.6!important;
}

/* Button Recolor */

.icon-2WU8ha {
    color: var(--main-color) !important;
    transform: translateY(-4px);
}

/* Revert Account Details Text */

#app-mount .accountDetails-15i-_e { position:unset !important; min-width:unset !important; bottom:0px !important; }
#app-mount .accountDetails-15i-_e .username { margin-left: unset !important; border: none !important; font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif !important; font-size:15px !important; font-weight:400 !important; color:white !important; text-align:unset !important; height:30px!important; line-height:10px!important; }
.accountDetails-15i-_e .discriminator {display: inline block !important; font-size: 12px !important; position: unset !important;}

/* Remove Line Dude Name */

.message-group:not(.compact) .avatar-large[style*="97787466110472192"] ~ .comment .message h2 span.username-wrapper, .channel-members .member .avatar-small[style*="97787466110472192"] ~ .member-inner .member-username .member-username-inner { display: none; }

/* Title Bar Buttons */

#app-mount {
    background-color: var(--main-color);
}

#app-mount .titleBar-3_fDwJ {
    padding-top: 2px !important;
    background-color: var(--main-color) !important;
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa {
    margin: auto 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 {
    margin: auto 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 + .winButtonMinMax-bT_gQ1 {
    margin: auto 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 + .winButtonMinMax-bT_gQ1 svg, #app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa svg, #app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 svg, #app-mount .titleBar-3_fDwJ .wordmark-2L03Wr svg {
    display: unset;
}

/* Gray Top of Title Bar Fix*/

div[class*="titleBar-"]:after{height:0px!important;}
div[class*="titleBar-"] {
    height: 0px;
    margin-top: 0px;
}
div[class*="titleBar-"]:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 6px;
    height: 14px;
    z-index: 3002;
    -webkit-app-region: drag;
}
div[class*="titleBar-"]:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    z-index: 3002;
}
div[class*="wordmark-"], div[class*="winButton-"] svg {
    display: none;
}
div[class*="winButton-"] {
    top: 15px;
    height: 30px;
    width: 30px;
    right: 8px;
    background-position: center;
    opacity: .6;
    transition: 200ms ease;
}
div[class*="winButton-"]:hover{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
    background-color: var(--hover-color) !important;
    border-radius: 10px;
    opacity: 1;
}
div[class*="titleBar-"]{height: 0px;margin-top: 0px;}

div[class*="titleBar-"]:before{content: '';position: absolute;left: 0;right: 0;top: 6px;height: 14px;z-index: 3002;-webkit-app-region: drag;}

div[class*="titleBar-"]:after{content: '';position: absolute;left: 0;right: 0;top: 0;height: 6px;z-index: 3002;}

div[class*="wordmark-"], div[class*="winButton-"] svg{display: none;}

div[class*="winButton-"]:hover{-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color: var(--hover-color) !important;border-radius: 3px;opacity: 1;}

div[class*="titleBar-"] div:nth-of-type(2){background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/close.svg) !important;background-repeat: no-repeat;background-position: center;background-size: 24px;}

div[class*="titleBar-"] div:nth-of-type(3){background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/fullscreen.svg) !important;background-repeat: no-repeat;background-position: center;background-size: 24px;}

div[class*="titleBar-"] div:nth-of-type(4){background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/remove.svg) !important;background-repeat: no-repeat;background-position: center 7px;background-size: 24px;}
 
.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-'],
#friends [class*='flex-'] [class*='flex-']:last-of-type,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type{margin-right: 98px;}

.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after,
#friends [class*='flex-'] [class*='flex-']:last-of-type:after,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {content: '';width: 1px;height: 22px;background-color: hsla(240,6%,97%,.1);}


.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-'],
#friends [class*='flex-'] [class*='flex-']:last-of-type,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type {
    margin-right: 98px;
}
.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after,
#friends [class*='flex-'] [class*='flex-']:last-of-type:after,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {
    content: '';
    width: 1px;
    height: 22px;
    background-color: hsla(240,6%,97%,.1);
}

/* Adjust Guild Margin */

.app .guilds .guild:first-child {margin-top: 3px!important;padding-bottom:0px !important}

/* Emote Button Fix */

[class*="userPopout-"] .status-3jUEha, [class*="userPopout-"] .avatar-1BXaQj, .avatar-small .status, .avatar-small,.avatar-large, .user-popout .avatar-wrapper .avatar-popout .status, .avatar-popout, .user-popout .avatar-wrapper .avatar-hint, #user-profile-modal .avatar-wrapper .avatar-profile, .channel-members .avatar-small .status, .private-channels .avatar-small .status, .account .avatar-small .status, #user-profile-modal .avatar-wrapper .avatar-profile .status, .theme-dark .channel-textarea-autocomplete-inner .avatar-small .status, #user-profile-modal .guilds .guild .status, .channel-textarea-autocomplete-inner .avatar-small .status, .private-channel-recipients-invite .friend .avatar-small, .private-channel-recipients-invite .friend .avatar-small .status, .avatar-uploader .avatar-uploader-inner {border-radius: 50px !important;}
.private .channelTextArea-os01xC {
    margin: 20px 0 32px 0!important
}

/* Categories */

.theme-dark .iconCollapsed-1INdMX,
.theme-dark .iconDefault-xzclSQ,
.theme-dark .nameCollapsed-3_ChMu,
.theme-dark .nameDefault-Lnjrwm
{
    color: var(--main-color) !important;opacity:.6;
}

/* Text Channels Not Selected */

.theme-dark .nameDefaultText-QoumjC,
.theme-dark .nameDefaultVoice-1swZoh,
.theme-dark .nameLockedText-2fGz07,
.theme-dark .nameLockedVoice-wNOMNa
{
    color: var(--main-color) !important;opacity:.6;
}

/* Channel Category Hovered Text */

.theme-dark .iconHovered-3PRzOR,
.theme-dark .iconHoveredCollapsed-jNYgOD,
.theme-dark .nameHovered-1YFSWq,
.theme-dark .nameHoveredCollapsed-2c-EHI
{
    color: var(--main-color) !important;opacity:.8;
}

/* Text/Voice Channel Selected Text */

.theme-dark .nameSelectedText-32NDX5,
.theme-dark .nameSelectedVoice-XpjYTw
{
    color: var(--main-color) !important;opacity:.8;
}

/* Text/Voice Channel Unread Text */

.theme-dark .nameUnreadText-1pxldj,
.theme-dark .nameUnreadVoice-QK4gxH
{
    color: var(--main-color) !important;opacity:.8;
}

/* Text Channel Hovered Text */

.theme-dark .nameHoveredText-2FFqiz
{
    color: var(--main-color) !important;opacity:.6;
}

/* Voice Channel Hovered Text */

.theme-dark .nameHoveredVoice-TIoHRJ
{
    color: var(--main-color) !important;opacity:.8;
}

/* Unread Text/Voice Channel Hovered/Active Text */

.theme-dark .contentHoveredText-2HYGIY .nameUnreadText-1pxldj
{
    color: var(--main-color) !important;opacity:.8;
}
.theme-dark .contentHoveredVoice-3qGNKh:active .nameUnreadVoice-QK4gxH,
.theme-dark .contentSelectedVoice-gTtYM9:active .nameUnreadVoice-QK4gxH
{
    color: var(--main-color) !important;opacity:.8;
}
/* Speaking/Hovered Username Voice Text */

.theme-dark .nameHovered-28u_Fz,
.theme-dark .nameSpeaking-3ROx9q
{
    color: var(--main-color) !important;opacity:1;
}
/* User Name Voice */

.theme-dark .nameDefault-1I0lx8
{
    color: var(--main-color) !important;opacity:.8;
}

/* Username/Profile Text */

.theme-dark .container-iksrDt
{
    color: var(--main-color) !important;opacity:.6;
}

/* Muted Channel Text */

[class*="nameMutedText-"], [class*="nameMutedVoice-"] {
    color: var(--main-color) !important;
    opacity: 0.4 !important;
}

/* Direct Message Name Text */

#app-mount .private-channels .channel.private .channel-name {
   color: var(--main-color) !important;
}

/* Channel Hashtags/Voice Chat Prefix */

.scroller-fzNley > [class*="container-"] > [class*="containerDefault-"] > div > svg > path,
.scroller-fzNley > [class*="container-"] > [class*="containerDefault-"] [class*="content"] > div > svg > path {
    fill: var(--main-color) !important;opacity:.9
}

/* Change Online Color to Main Color */

.status-online{border:4px solid var(--main-color)!important;}.channel-members .avatar-small .status-online, .private-channels .avatar-small .status-online, .account .avatar-small .status-online{border:2px solid var(--main-color)!important;}.friends-column.friends-column-status > .status-online{background-color:var(--main-color)!important;}.statusOnline-1Mp2_H{border-color:var(--main-color)!important;}.title > .status-online, [class*=titleText-] > .status-online{background:var(--main-color)!important;}

/* Channel Name Color */

.theme-dark .channelName-1G03vu, .theme-dark .groupDM-3gzbyG .channelName-1G03vu, .theme-dark .groupDMManaged-2z2S1A .channelName-1G03vu{color:var(--main-color);}

/* Channel Description Color */

.theme-dark .topic-1KFf6J{color:var(--main-color);opacity:.8;}

/* Change Name Color to Main Color */

#app-mount .accountDetails-15i-_e .username{color: var(--main-color) !important;}

/* Static Shadow Mention Box */

.message-group .mentioned .message-text { -webkit-animation: mentionpulse 1.5s infinite; animation: mentionpulse s infinite; }
@-webkit-keyframes mentionpulse { 0% { box-shadow: 0 0 1px 1px var(--main-color); }
  70% { box-shadow: 0 0 1px 1px var(--main-color); }
  to { box-shadow: 0 0 1px 1px var(--main-color); } }

/* Remove Mention Shadow Box */

.theme-dark .message-group .comment .markup .mention{background:transparent!important;}

/* Alternate Typing Indicator */

.status.status-typing.status-online{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;}.status.status-typing.status-idle{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #faa61a!important;}.status.status-typing.status-dnd{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #f04747!important;}.status.status-typing.status-invisible{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #747f8d!important;}.status.status-typing.status-offline{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #282829!important;}.status.status-typing .spinner-item{height:2px;widht:2px;border-radius:0px;}span.spinner{/*opacity:0!important;*/transform:translate(1px, 28px);height:1px;}

/* Custom Direct Message Icon */

.friends-icon {
    background-image: url(https://i.imgur.com/MXhuK0W.png)!important;
}

/* Change Server Name Color */

.header-1tSljs {
    color: var(--main-color) !important;
}

/* Color Call/Pin/Add/Help Buttons */

.theme-dark .iconForeground-2c7s3m, .theme-dark .title-2Ul_Rx {
    color: var(--main-color)
}

/* Member List Highlight Fix */

.iconActive-3K4uxh {
    color: var(--main-color);opacity:0.7
}

/* Transparent "New Message" Divider Box */

.chat .divider.divider-red > span {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Color Timestamps */

.theme-dark .message-group h2 span {
    color: var(--main-color);
}

/* Playing/Gametitle Color */

.private-channels .channel .channel-activity {
    color: var(--main-color);
}
.private-channels .channel:hover .channel-activity {
    color: var(--hover-color)!important;opacity:.7
}

/* Search Bar Search Color */

.theme-dark .search .DraftEditor-root {
    color: var(--main-color) !important;
}

/* @ button in DMs */

.channelIcon-1KtcMW {
    color: var(--main-color);opacity:0.5
}

/* Hide Blocked Messages */

.message-group-blocked {
    display: none;
}

/* Change Colour of Status Picker's Online to Main Colour */

.ui-call-avatar-border.voice.speaking {
    -webkit-box-shadow: inset 0 0 0 3px color: var(--main-color) !important;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px color: var(--main-color) !important;
}

/* Voice Connect OK To Main Color */

.inner-ptMwR- .rtc-connection-status-connected {
    color: var(--main-color) !important;
}
.inner-ptMwR- .rtc-connection-quality-fine .ping {
    background-image: url(https://i.imgur.com/oeu6oRT.png) !important;
}
.buttonGreenFilled-6QHNrw {
    background-color: var(--main-color) !important;
    color: #fff;
}
.buttonGreenFilledDefault-_lLQaz:hover {
    background-color: var(--hover-color) !important;
}
.ui-call-avatar-border.video.speaking {
    -webkit-box-shadow: inset 0 0 0 2px color: var(--main-color) !important;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px color: var(--main-color) !important;
}

/* Server Add/Create Button Relocation */

#app-mount .guild.guilds-add {
    position: relative !important;
    top: 0;
    left: 0;
}

/* Uploading File Text */

.message-group .comment .attachment .upload>.filename {
    color: var(--main-color) !important;
}

/* Video Chat Avatar Ring Color */

.ui-call-avatar-border.video.selected:not(.speaking) {
    -webkit-box-shadow: inset 0 0 0 2px color: var(--main-color) !important;
    box-shadow: inset 0 0 0 2px color: var(--main-color) !important;
}

/* Screenshare Icon */

.private-channel-call-actions .icons-wrapper.center > [class*='iconButtonDefault-']:nth-child(1) {
    background-image: url(https://i.imgur.com/3iUmudb.png) !important;
}

/* Camera Off */

.private-channel-call-actions [class*='iconButtonStatic-']:nth-child(2) {
    background-image: url(https://i.imgur.com/f9Oibmj.png) !important;
}

/* Camera On */

.private-channel-call-actions [class*='iconButtonDefault-']:nth-child(2) {
    background-image: url(https://i.imgur.com/EGCoG37.png) !important;
}

/* Mic Off */

.private-channel-call-actions [class*='iconButtonStatic-']:nth-child(4) {
    background-image: url(https://i.imgur.com/rFwQgsq.png) !important;
}

/* Mic On */

.private-channel-call-actions [class*='iconButtonDefault-']:nth-child(4) {
    background-image: url(https://i.imgur.com/F4Qf7O6.png) !important;
}

/* Settings */

.private-channel-call-actions [class*='iconButtonDefault-']:nth-child(5) {
    background-image: url(https://i.imgur.com/DhcqheX.png) !important;
}

/* Circular Screenshare Avatars */

.ui-call-avatar.video, .ui-call-avatar.video .wrapper-2G6bx_ > canvas {
    border-radius: 50% !important;
}

/*----------------------------------------------------------------------*/
