/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/P-o-u-t/Pouts-Theme/master/custom-discord-reborn/Quiet.css");
@import url("https://rawgit.com/P-o-u-t/Pouts-Theme/master/custom-discord-reborn/Discord%20Reborn.css");
@import url("https://rawgit.com/P-o-u-t/Pouts-Theme/master/custom-discord-reborn/Tags.css");

/* Change Main & Hover Color */

:root { 
    --main-color: #5d7a56 !important;
    --hover-color: #4b6345 !important;
 }

/* Replace Reborn Wallpaper */

#app-mount .app, #app-mount .callout-backdrop, #app-mount .userPopout-4pfA0d::before {
    background-image: url(https://i.imgur.com/8Y5x9iq.jpg) !important;
}

[class*="avatar-"], .status, [class*="avatarStatus"], .image-EVRGPw{border-radius: 50% !important;}
.guilds [class*="avatar-"]{border-radius: 0 !important;}

/* Circular Avatars */

[class*="avatar-"], .status, [class*="avatarStatus"], .image-EVRGPw{border-radius: 50% !important;}
.guilds [class*="avatar-"]{border-radius: 0 !important;}
.mask-2vyqAW{border-radius: 50% !important;}
.card-3cnrFh{border-radius:50%!important;}
.ui-call-avatar.video, .ui-call-avatar.video .wrapper-2G6bx_ > canvas {
    border-radius: 50% !important;
}

/* Revert Account Details */

.channel-members::after, #friends .friends-table .friends-table-body::after{display:none !important;}
[class*="scroller-"].channel-members { height: 100%!important;}
#app-mount .accountDetails-15i-_e { position:unset !important; min-width:unset !important; bottom:0px !important; }
#app-mount .accountDetails-15i-_e .username { margin-left: unset !important; border: none !important; font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif !important; font-size:15px !important; font-weight:400 !important; color:white !important; text-align:unset !important; height:30px!important; line-height:10px!important; }
.accountDetails-15i-_e .discriminator {display: inline block !important; font-size: 12px !important; position: unset !important;}

/* Make Channel Categories Match Role Categories */

.nameCollapsed-3_ChMu, .nameDefault-Lnjrwm,
.nameHovered-1YFSWq, .nameHoveredCollapsed-2c-EHI,
.nameMuted-1n0LSj, .nameUnread-WKlSv-
{
    color: var(--main-color) !important;
    background-image: linear-gradient(90deg, transparent, transparent), linear-gradient(90deg, transparent, var(--main-color), transparent);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px;
    opacity: 0.9;
    transform: translateY(-8px);
}
.nameHovered-1YFSWq {
    opacity: 1;
    transform: translateY(-8px);
}
.nameCollapsed-3_ChMu {
    opacity: 0.6;
    transform: translateY(-1px);
}
.nameHoveredCollapsed-2c-EHI {
    opacity: 0.8;
    transform: translateY(-1px);
}

[class*=container-] .containerDefault-7RImuF, .containerDragAfter-3rB7mB, .containerDragBefore-12YyA9, [class*=container-] .containerUserOver-2YhVL6 {
    margin-top: 3px;
}

/* Categories Arrow Colored */

.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm{
    color: var(--main-color);
}
.iconHoveredCollapsed-jNYgOD, .iconHovered-3PRzOR, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm{
    color: var(--hover-color);
}

/* Color Muted Icon Arrow */

.iconMuted-Hb4ttQ {
    color: var(--main-color) !important;
    opacity: 0.6!important;
}

/* Button Recolor */

.icon-2WU8ha {
    color: var(--main-color) !important;
    transform: translateY(-4px);
}

/* Remove Line Dude Name */

.message-group:not(.compact) .avatar-large[style*="97787466110472192"] ~ .comment .message h2 span.username-wrapper, .channel-members .member .avatar-small[style*="97787466110472192"] ~ .member-inner .member-username .member-username-inner { display: none; }

/* Title Bar Buttons */

#app-mount {
    background-color: var(--main-color);
}

#app-mount .titleBar-3_fDwJ {
    padding-top: 2px !important;
    background-color: var(--main-color) !important;
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa {
    margin: auto 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 {
    margin: auto 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 + .winButtonMinMax-bT_gQ1 {
    margin: auto 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

#app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 + .winButtonMinMax-bT_gQ1 svg, #app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa svg, #app-mount .titleBar-3_fDwJ .winButtonClose-2rIvsa + .winButtonMinMax-bT_gQ1 svg, #app-mount .titleBar-3_fDwJ .wordmark-2L03Wr svg {
    display: unset;
}

/* Gray Top of Title Bar Fix*/

div[class*="titleBar-"]:after{height:0px!important;}
div[class*="titleBar-"] {
    height: 0px;
    margin-top: 0px;
}
div[class*="titleBar-"]:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 6px;
    height: 14px;
    z-index: 3002;
    -webkit-app-region: drag;
}
div[class*="titleBar-"]:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    z-index: 3002;
}
div[class*="wordmark-"], div[class*="winButton-"] svg {
    display: none;
}
div[class*="winButton-"] {
    top: 15px;
    height: 30px;
    width: 30px;
    right: 8px;
    background-position: center;
    opacity: .6;
    transition: 200ms ease;
}
div[class*="winButton-"]:hover{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
    background-color: var(--hover-color) !important;
    border-radius: 10px;
    opacity: 1;
}
div[class*="titleBar-"]{height: 0px;margin-top: 0px;}

div[class*="titleBar-"]:before{content: '';position: absolute;left: 0;right: 0;top: 6px;height: 14px;z-index: 3002;-webkit-app-region: drag;}

div[class*="titleBar-"]:after{content: '';position: absolute;left: 0;right: 0;top: 0;height: 6px;z-index: 3002;}

div[class*="wordmark-"], div[class*="winButton-"] svg{display: none;}

div[class*="winButton-"]:hover{-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color: var(--hover-color) !important;border-radius: 3px;opacity: 1;}

div[class*="titleBar-"] div:nth-of-type(2){background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/close.svg) !important;background-repeat: no-repeat;background-position: center;background-size: 24px;}

div[class*="titleBar-"] div:nth-of-type(3){background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/fullscreen.svg) !important;background-repeat: no-repeat;background-position: center;background-size: 24px;}

div[class*="titleBar-"] div:nth-of-type(4){background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/remove.svg) !important;background-repeat: no-repeat;background-position: center 7px;background-size: 24px;}
 
.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-'],
#friends [class*='flex-'] [class*='flex-']:last-of-type,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type{margin-right: 98px;}

.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after,
#friends [class*='flex-'] [class*='flex-']:last-of-type:after,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {content: '';width: 1px;height: 22px;background-color: hsla(240,6%,97%,.1);}


.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-'],
#friends [class*='flex-'] [class*='flex-']:last-of-type,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type {
    margin-right: 98px;
}
.chat [class*='titleWrapper-'] [class*='flex-'] [class*='flex-']:after,
#friends [class*='flex-'] [class*='flex-']:last-of-type:after,
[class*='activityFeed-'] [class*='flex-'] [class*='flex-']:last-of-type:after {
    content: '';
    width: 1px;
    height: 22px;
    background-color: hsla(240,6%,97%,.1);
}

/* Transparency Fix in DMs for Titlebar */

#app-mount .chat.private [class*='titleWrapper-'] {
    background: transparent !important;
}
#app-mount .chat.private [class*='titleWrapper-'] > div {
    background: transparent !important;
}

/* Align Titlebar Properly */

.theme-dark .title-qAcLxz {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none;
}

/* Adjust Guild Margin */

.app .guilds .guild:first-child {margin-top: 3px!important;padding-bottom:0px !important}

/* Emote Button Fix */

[class*="userPopout-"] .status-3jUEha, [class*="userPopout-"] .avatar-1BXaQj, .avatar-small .status, .avatar-small,.avatar-large, .user-popout .avatar-wrapper .avatar-popout .status, .avatar-popout, .user-popout .avatar-wrapper .avatar-hint, #user-profile-modal .avatar-wrapper .avatar-profile, .channel-members .avatar-small .status, .private-channels .avatar-small .status, .account .avatar-small .status, #user-profile-modal .avatar-wrapper .avatar-profile .status, .theme-dark .channel-textarea-autocomplete-inner .avatar-small .status, #user-profile-modal .guilds .guild .status, .channel-textarea-autocomplete-inner .avatar-small .status, .private-channel-recipients-invite .friend .avatar-small, .private-channel-recipients-invite .friend .avatar-small .status, .avatar-uploader .avatar-uploader-inner {border-radius: 50px !important;}
.private .channelTextArea-os01xC {
    margin: 20px 0 32px 0!important
}

/* Categories */

.theme-dark .iconCollapsed-1INdMX,
.theme-dark .iconDefault-xzclSQ,
.theme-dark .nameCollapsed-3_ChMu,
.theme-dark .nameDefault-Lnjrwm
{
    color: var(--main-color) !important;opacity:.6;
}

/* Text Channels Not Selected */

.theme-dark .nameDefaultText-QoumjC,
.theme-dark .nameDefaultVoice-1swZoh,
.theme-dark .nameLockedText-2fGz07,
.theme-dark .nameLockedVoice-wNOMNa
{
    color: var(--main-color) !important;opacity:.6;
}

/* Channel Category Hovered Text */

.theme-dark .iconHovered-3PRzOR,
.theme-dark .iconHoveredCollapsed-jNYgOD,
.theme-dark .nameHovered-1YFSWq,
.theme-dark .nameHoveredCollapsed-2c-EHI
{
    color: var(--main-color) !important;opacity:.8;
}

/* Text/Voice Channel Selected Text */

.theme-dark .nameSelectedText-32NDX5,
.theme-dark .nameSelectedVoice-XpjYTw
{
    color: var(--main-color) !important;opacity:.8;
}

/* Text/Voice Channel Unread Text */

.theme-dark .nameUnreadText-1pxldj,
.theme-dark .nameUnreadVoice-QK4gxH
{
    color: var(--main-color) !important;opacity:.8;
}

/* Text Channel Hovered Text */

.theme-dark .nameHoveredText-2FFqiz
{
    color: var(--main-color) !important;opacity:.6;
}

/* Voice Channel Hovered Text */

.theme-dark .nameHoveredVoice-TIoHRJ
{
    color: var(--main-color) !important;opacity:.8;
}

/* Unread Text/Voice Channel Hovered/Active Text */

.theme-dark .contentHoveredText-2HYGIY .nameUnreadText-1pxldj
{
    color: var(--main-color) !important;opacity:.8;
}
.theme-dark .contentHoveredVoice-3qGNKh:active .nameUnreadVoice-QK4gxH,
.theme-dark .contentSelectedVoice-gTtYM9:active .nameUnreadVoice-QK4gxH
{
    color: var(--main-color) !important;opacity:.8;
}
/* Speaking/Hovered Username Voice Text */

.theme-dark .nameHovered-28u_Fz,
.theme-dark .nameSpeaking-3ROx9q
{
    color: var(--main-color) !important;opacity:1;
}
/* User Name Voice */

.theme-dark .nameDefault-1I0lx8
{
    color: var(--main-color) !important;opacity:.8;
}

/* Username/Profile Text */

.theme-dark .container-iksrDt
{
    color: var(--main-color) !important;opacity:.6;
}

/* Muted Channel Text */

[class*="nameMutedText-"], [class*="nameMutedVoice-"] {
    color: var(--main-color) !important;
    opacity: 0.4 !important;
}

/* Direct Message Name Text */

#app-mount .private-channels .channel.private .channel-name {
   color: var(--main-color) !important;
}

/* Channel Hashtags/Voice Chat Prefix */

.scroller-fzNley > [class*="container-"] > [class*="containerDefault-"] > div > svg > path,
.scroller-fzNley > [class*="container-"] > [class*="containerDefault-"] [class*="content"] > div > svg > path {
    fill: var(--main-color) !important;opacity:.9
}

/* Change Online Color to Main Color */

.status-online{border:4px solid var(--main-color)!important;}.channel-members .avatar-small .status-online, .private-channels .avatar-small .status-online, .account .avatar-small .status-online{border:2px solid var(--main-color)!important;}.friends-column.friends-column-status > .status-online{background-color:var(--main-color)!important;}.statusOnline-1Mp2_H{border-color:var(--main-color)!important;}.title > .status-online, [class*=titleText-] > .status-online{background:var(--main-color)!important;}

/* Channel Name Color */

.theme-dark .channelName-1G03vu, .theme-dark .groupDM-3gzbyG .channelName-1G03vu, .theme-dark .groupDMManaged-2z2S1A .channelName-1G03vu{color:var(--main-color);}

/* Channel Description Color */

.theme-dark .topic-1KFf6J{color:var(--main-color);opacity:.8;}

/* Change Name Color to Main Color */

#app-mount .accountDetails-15i-_e .username{color: var(--main-color) !important;}

/* Static Shadow Mention Box */

.message-group .mentioned .message-text { -webkit-animation: mentionpulse 1.5s infinite; animation: mentionpulse s infinite; }
@keyframes mentionpulse { 0% { box-shadow: 0 0 1px 1px var(--main-color); }
  70% { box-shadow: 0 0 1px 1px var(--main-color); }
  to { box-shadow: 0 0 1px 1px var(--main-color); } }

/* Remove Mention Shadow Box */

.theme-dark .message-group .comment .markup .mention{background:transparent!important;}

/* Alternate Typing Indicator */

.status.status-typing.status-online{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;}
.status.status-typing.status-idle{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #faa61a!important;}
.status.status-typing.status-dnd{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #f04747!important;}
.status.status-typing.status-invisible{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #747f8d!important;}
.status.status-typing.status-offline{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #282829!important;}
.status.status-typing.status-streaming{width:30px!important;height:30px!important;background:transparent!important;margin:0px 0px 0px 0px;border:2px solid #747f8d!important;}
.status.status-typing .spinner-item{height:2px;width:2px;border-radius:0px;}span.spinner{/*opacity:0!important;*/transform:translate(1px, 28px);height:1px;}

/* Custom Direct Message Icon */

.friends-icon {
    background-image: url(https://i.imgur.com/MXhuK0W.png)!important;
}

/* Change Server Name Color */

.header-1tSljs {
    color: var(--main-color) !important;
}

/* Color Call/Pin/Add/Help Buttons */

.theme-dark .iconForeground-2c7s3m, .theme-dark .title-2Ul_Rx {
    color: var(--main-color)
}

/* Member List Highlight Fix */

.iconActive-3K4uxh {
    color: var(--main-color);opacity:0.7
}

/* Transparent "New Message" Divider Box */

.chat .divider.divider-red > span {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Color Timestamps */

.theme-dark .message-group h2 span {
    color: var(--main-color);
}

/* Playing/Gametitle Color */

.private-channels .channel .channel-activity {
    color: var(--main-color);
}
.private-channels .channel:hover .channel-activity {
    color: var(--hover-color)!important;opacity:.7
}

/* Search Bar Search Color */

.theme-dark .search .DraftEditor-root {
    color: var(--main-color) !important;
}

/* @ button in DMs */

.channelIcon-1KtcMW {
    color: var(--main-color);opacity:0.5
}

/* Hide Blocked Messages */

.message-group-blocked {
    display: none;
}

/* Change Colour of Status Picker's Online to Main Colour */

.ui-call-avatar-border.voice.speaking {
    box-shadow: inset 0 0 0 3px;
    color: var(--main-color) !important;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px;
    color: var(--main-color) !important;
}

/* Voice Connect OK To Main Color */

.inner-ptMwR- .rtc-connection-status-connected {
    color: var(--main-color) !important;
}
.inner-ptMwR- .rtc-connection-quality-fine .ping {
    background-image: url(https://i.imgur.com/oeu6oRT.png) !important;
}
.buttonGreenFilled-6QHNrw {
    background-color: var(--main-color) !important;
    color: #fff;
}
.buttonGreenFilledDefault-_lLQaz:hover {
    background-color: var(--hover-color) !important;
}
.ui-call-avatar-border.video.speaking {
    box-shadow: inset 0 0 0 2px;
    color: var(--main-color) !important;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px;
    color: var(--main-color) !important;
}

/* Server Add/Create Button Relocation */

#app-mount .guild.guilds-add {
    position: relative !important;
    top: 0;
    left: 0;
}

/* Uploading File Text */

.message-group .comment .attachment .upload>.filename {
    color: var(--main-color) !important;
}

/* Video Chat Avatar Ring Color */

.ui-call-avatar-border.video.selected:not(.speaking) {
    box-shadow: inset 0 0 0 2px;
    color: var(--main-color) !important;
    box-shadow: inset 0 0 0 2px;
    color: var(--main-color) !important;
}

/* Screenshare Icon */

.private-channel-call-actions .icons-wrapper.center > [class*='iconButtonDefault-']:nth-child(1) {
    background-image: url(https://i.imgur.com/3iUmudb.png) !important;
}

/* Camera Off */

.private-channel-call-actions [class*='iconButtonStatic-']:nth-child(2) {
    background-image: url(https://i.imgur.com/f9Oibmj.png) !important;
}

/* Camera On */

.private-channel-call-actions [class*='iconButtonDefault-']:nth-child(2) {
    background-image: url(https://i.imgur.com/EGCoG37.png) !important;
}

/* Mic Off */

.private-channel-call-actions [class*='iconButtonStatic-']:nth-child(4) {
    background-image: url(https://i.imgur.com/rFwQgsq.png) !important;
}

/* Mic On */

.private-channel-call-actions [class*='iconButtonDefault-']:nth-child(4) {
    background-image: url(https://i.imgur.com/F4Qf7O6.png) !important;
}

/* Settings */

.private-channel-call-actions [class*='iconButtonDefault-']:nth-child(5) {
    background-image: url(https://i.imgur.com/DhcqheX.png) !important;
}

/* Transparent Voice Calling */

.ui-video-background .backgroundBlur-2hMM9N, .ui-video-background .backgroundBlurOverlay-278FQ6 {
    display: none;
}
#app-mount .private-channel-call {
    background-color: rgba(0,0,0,0.4) !important;
    top: -49px;
}
#app-mount .chat.private .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#app-mount .chat.private .content .messages-wrapper {
    top: 48px;
    margin-bottom: 50px
}
#app-mount .chat.private .content form > div {
    width: 97%;
    margin: 0 auto;
    left: 20px;
}

/* Date Divider Color */

.chat .divider > span {
    color: var(--hover-color) !important;
}

/* Splash Change */

html body:before {
    content: "Thank you for using Pout's Theme!" !important;
    color: #fff; 
    background: var(--main-color) !important
}

/* Replace Light & Dark Mode Text */

/* -Light Mode- */
/* Theme Mode */
.layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .title-1pmpPr{line-height: 0;font-size: 0;}

.layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .title-1pmpPr:after{content: "Custom Themes";line-height: 16px;font-size: 12px;}

/* Hides Real Theme Mode Name */

.layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .radioGroup-2P3MJo > div:first-child .info-1Z508c .title-1M-Ras{line-height: 0;font-size: 0;}

/* Replaces it with Spoofed Name */

.layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .radioGroup-2P3MJo > div:first-child .info-1Z508c .title-1M-Ras:after{content: "Pout Light [Work in Progress]";line-height: 24px;font-size: 16px;}

/* Enabled */

.theme-light .layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .radioGroup-2P3MJo > div:first-child .info-1Z508c .title-1M-Ras:after{content: "Pout Light"}

/* -Dark Mode- */
/* Hides Real Theme Mode Name */

.layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .radioGroup-2P3MJo > div:nth-child(2) .info-1Z508c .title-1M-Ras{line-height: 0;font-size: 0;}

/* Replaces it with Spoofed Name */

.layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .radioGroup-2P3MJo > div:nth-child(2) .info-1Z508c .title-1M-Ras:after{content: "Pout Dark";line-height: 24px;font-size: 16px;}

/* Enabled */

.theme-dark .layer[layer-id="user-settings"] .user-settings-appearance .flex-vertical > div:nth-child(2) .radioGroup-2P3MJo > div:nth-child(2) .info-1Z508c .title-1M-Ras:after{content: "Pout Dark";}

.theme-light .accountDetails-15i-_e .username{background-color: #fff;border-top: 2px solid #f6f6f7 !important;}

/* Customized Help Tab */

.need-help-modal .header h1::after{
    content:"Pout's Theme!" !important;
}

.need-help-modal .header{background-color:transparent;height:140px;;padding:0;}

.need-help-modal .header::after{content:"";background-color:var(--main-color);border-top-left-radius:3px;border-top-right-radius:3px;position:relative;z-index:10;height:150px;width:100%;padding:0;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;}

.need-help-modal .header h1{color:transparent;font-weight:700;margin:38px 0 0;font-size:18px;}

.need-help-modal .header input[type=text]{display:none;}

.need-help-modal .header h1{color:transparent;font-weight:700;margin:38px 0px 0px;font-size:18px;margin-right:36%;top:15%;position:relative;}

.need-help-modal .form-inner.loading{background:transparent;padding-bottom:0px;padding-top:0px;}

.need-help-modal .form-inner.loading::after{content:"What the fuck";padding:38px;min-height:200px;background-color:#19191b;width:100%;white-space:pre;color:#fff !important;}

.need-help-modal .form-inner > ul{display:none;}

.need-help-modal .footer a{display:none;}

.need-help-modal .footer{background-color:transparent;color:transparent;border-top:0px #e9e7e7 solid;padding-top:0px;padding-left:0px;width:100%;position:relative;}

.need-help-modal .form-inner.loading::after{content:"C\0332 r\0332 e\0332 a\0332 t\0332 o\0332 r\0332 s\0332 :\A ⭐ Omniscient#0002 \A ⭐ Pout#0350 \A\A P\0332 e\0332 r\0332 s\0332 o\0332 n\0332 a\0332 l\0332  \0332 S\0332 e\0332 r\0332 v\0332 e\0332 r\0332:\A ⭐ discord.me/mrrobotserver (Omniscient) \A ⭐ discord.me/poutstheme (Pout) \A\A D\0332 o\0332 n\0332 a\0332 t\0332 i\0332 o\0332 n\0332:\A ⭐ paypal.me/Chaotiic (Omniscient) \A ⭐ paypal.me/AntiSocialDiscord (Pout) \A\A C\0332 r\0332 e\0332 d\0332 i\0332 t\0332 s\0332:\A ⭐ Omniscient#0002 \A ⭐ Pout#0350 \A ⭐ Dingus#6977 \A ⭐ cube_guy#2026 \A ⭐ Izy#5368";padding:38px;min-height:200px;background-color:#19191b;width:100%;white-space:pre;color:#fff;}

.need-help-modal .form-inner.loading .spinner{display:none!important;}

.need-help-modal .form-inner .failed{display:none;}

/* Customized Pallet Pickers */

[class^="ui-color-picker-swatch"] {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 2px;
    border: 3px solid transparent;
    border-radius: 12px;
}

.ui-color-picker-swatch.custom, .ui-color-picker-swatch.default {
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

[class^="color-picker-dropper"] {
    position: relative;
    left: 40px;
    top: 20px;
}

/* Fixed Invite Box */

.theme-dark .wrapper-uAa07y {
    background: rgba(0, 0, 0, 0.6) !important;
    border-color: rgba(47,49,54,.9) !important;
}

.guildIcon-KMiSsu {
    flex-shrink: 0;
    height: 50px;
    margin-right: 15px;
    width: 50px;
    border-radius: 50% !important;
}

.theme-dark .buttonPrimaryOutlinedDefault--H0hhk, .theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx {
    border-color: hsla(218,5%,47%,.3);
    background-color: var(--main-color) !important; 
    color: #fff

}

/* Information Box */

#bd-settingspane-container .content-column.default .ui-form-title.h2::after{content: "Hello! Omni has a server where I normally am situated \A there you will find the following: \A\A → Customizable options for the theme. \A → You can give us feedback \A → Tons of bots. \A \A → Join the server at discord.me/mrrobotserver \A → Loads of people willing to assist with anything. \A → It's also easier to report bugs on the server. \A\A We hope to see you with us soon!"!important;
background-color: var(--main-color);}

/* Current Theme Box */

.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::before{content: "You're currently using: Pout's Theme. \A Thank you!"!important;}

/* Move Update Button in Themes */

.bd-pfbtn {
    position: relative;
    top: -253px;
    left: 30px;
    margin-left: 120px;
    margin-bottom: 9px;
    font-weight: 600;
    background: var(--main-color);
    color: #FFF;
    border-radius: 1px;
    display: block;
}

/* Hover Color Description Links */

.theme-dark .topic-1KFf6J a {
    color: var(--hover-color) !important;
}

/* Settings Text Box Align Left */

#bd-settingspane-container .content-column.default .ui-form-title.h2::after {
    content: "Hello! Omni has a server where I normally am situated \A there you will find the following: \A\A → Customizable options for the theme. \A → You can give us feedback \A → Tons of bots. \A \A → Join the server at discord.me/mrrobotserver \A → Loads of people willing to assist with anything. \A → It's also easier to report bugs on the server. \A\A We hope to see you with us soon!"!important;
    background-color: var(--main-color);
    text-align: left;
}

/* Transparency Titlebar Fix */

#app-mount .chat.private [class*='titleWrapper-'] {
    background: transparent !important;
}
#app-mount .chat.private [class*='titleWrapper-'] > div {
    background: transparent !important;
}

/* Remove Jiiks Watermark */

#bd-settings-sidebar span[style*='font-size: 12px;'] {
    display: none;
}

/* Changed Activity Feed Icon */

#app-mount a[href*='/activity'] svg {
    background: url('data:image/svg+xml;charset=UTF-8,<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 7.5V2H9v5.5l3 3 3-3zM7.5 9H2v6h5.5l3-3-3-3zM9 16.5V22h6v-5.5l-3-3-3 3zM16.5 9l-3 3 3 3H22V9h-5.5z"/></svg>') center center no-repeat rgba(18, 18, 19, 0) !important;
}

/* Change Friends Icon */

.private-channels .channel.btn-friends svg  g {
    opacity: 0;
}
#app-mount a[href*='/channels/@me'] svg {
    background: url(http://svgshare.com/i/405.svg) center center no-repeat rgba(18, 18, 19, 0) !important;
}

/* Remove Border From Pin Icon */

svg[name*='Pin'] + [class*='iconBadge'] {
    border: none !important;
}

/* Direct Message Search Transparent */

.theme-dark .private-channels .search-bar-inner {
    background: transparent !important;
}

.theme-dark .search .search-bar {
    background-color: transparent !important;
    border: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;

    
    background: transparent !important;
    border-bottom: 0px var(--main-color) solid !important;
    box-shadow: 0 0px 0 0 rgba(0, 0, 0, .0), inset 0 0px 0 0 rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-top: 0px;
}

.search-bar .search-bar-inner {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
}

/* Custom Icon For Search Bar in DM */

.private-channels .search-bar .search-bar-inner input {
    margin-left: 5px;
}
.private-channels .search-bar .search-bar-inner::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('https://i.imgur.com/y9WkIAh.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 3px;
    left: 3px;
    opacity: 0.2;
    background-size: cover;
}

/* Fix Group DMs */

.chat.private .channel-members {
    padding-top: 50px;
}

/* Fix Overlay Issue on Server List */

#app-mount .guilds-wrapper {
    background-color: rgba(0,0,0,0.7) !important;
}

#app-mount > [class*="platform-"] .scroller-wrap .guilds.scroller .guild:first-child {
    background-color: rgba(0, 0, 0, .7) !important;
}

/* Fix Alignment on Titlebar and Server List */

#app-mount > [class*="platform-"] .scroller-wrap .guilds.scroller .guild:first-child {
    margin-top: 0px !important;
    height: 48px;
}

/* Change Minimise/Maximise/Close Buttons */

div[class*="titleBar-"] div:nth-of-type(2) {
    background-image: url('https://i.imgur.com/G0cjlUS.png') !important;
    margin-right: 2px !important;
}
div[class*="titleBar-"] div:nth-of-type(3) {
    background-image: url('https://i.imgur.com/ctgixgJ.png') !important;
    margin-right: 11px;
}
div[class*="titleBar-"] div:nth-of-type(4) {
    background-image: url('https://i.imgur.com/ZgYw7gC.png') !important;
    margin-right: 11px;
    background-position-y: 0px;
}
div[class*="titleBar-"] div:nth-of-type(2) svg,
div[class*="titleBar-"] div:nth-of-type(3) svg,
div[class*="titleBar-"] div:nth-of-type(4) svg {
    opacity: 0;
}
div[class*="titleBar-"] div[class*='winButton-'] {
    height: 21px !important;
    width: 21px !important;
    top: 12px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* Close Button for Search Results in DM */

#app-mount .search-results-wrap {
    padding-top: 35px;
}
.chat.private [class*='titleWrapper-'] {
    z-index: 9999;
}
#app-mount .popouts .popout[style*='top: 37'] {
    top: 55px !important;
}

/* Titlebar Buttons Fix */

#app-mount div[class*="titleBar-"] {
    z-index: 3000 !important;
}
#app-mount .search-results-wrap {
    padding-top: 35px;
    background-color: rgba(0,0,0,.7) !important;
}
.chat.private [class*='titleWrapper-'] {
    z-index: 1001 !important;
}
#app-mount .popouts .popout[style*='top: 37'] {
    top: 55px !important;
}
