/* Pout's Custom Pill */

.message-group:not(.compact) .avatar-large[style*="310719627292573697"] ~ .comment .message h2 span.username-wrapper::before, .channel-members .member .avatar-small[style*="172218388880293888"] ~ .member-inner .member-username .member-username-inner::before {
    content: ".";
    background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/microsoft/106/pill_1f48a.png);
    background-color: transparent;
    background-size: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 266px;
    color: transparent;
    border-radius: 3px;
    left: 110px;
    right: 100px;
    font-size: 10px;
    font-weight: 600;
    padding: 0px 4px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 30px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    text-shadow: 0px 1px 3px #000;
    position: absolute;
    margin-top: -6px;
}
.message-group:not(.compact) .avatar-large[style*="310719627292573697"] ~ .comment .message h2 .timestamp {
    margin-left: 29px;
}

/* Customized User Tags */

.message-group:not(.compact) .avatar-large[style*="310719627292573697"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="310719627292573697"] ~ .member-inner .member-username .member-username-inner::after{content:"GBC Forever";background:#F62459;color:#fff;border-radius:3px;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 1px #000;}
.message-group:not(.compact) .avatar-large[style*="193518084802215937"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="193518084802215937"] ~ .member-inner .member-username .member-username-inner::after{content:"Wolfy";background:#a8a8a8;color:#fff;border-radius:3px;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 1px #000;}
.message-group:not(.compact) .avatar-large[style*="146628593319936000"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="193518084802215937"] ~ .member-inner .member-username .member-username-inner::after{content:"Princess";background:#f096f7;color:#fff;border-radius:3px;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 1px #000;}
